
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    color: #000;
    font-family:Monospace;
    font-size:13px;

    background-color: #fff;
    margin: 0;
}

#info {
    position: absolute;
    top: 0; width: 100%;
    padding: 5px;
    text-align:center;
}

#content {
    position: absolute;
    top: 0; width: 100%;
    z-index: 1;
    padding: 3em 0 0 0;
}

a {
    color: #0080ff;
}

#c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-item {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25);
}

.list-item .scene {
    width: 200px;
    height: 200px;
}

.list-item .description {
    color: #888;
    font-family: sans-serif;
    font-size: large;
    width: 200px;
    margin-top: 0.5em;
    text-align: center;
}
input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}